.step {
  position: relative;
  &__counter {
    align-items: center;
    border-radius: 50%;
    background: $basicGray;
    color: $buttonBorder;
    display: flex;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-right: 7rem;
    width: 44px;
    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 80px;
        background-color: $buttonBorder;
        left: 61px;
    }
    &.active {
        background-color:$stepBg;
        color: white;
    }
  }
  &__text {
        display: flex;
        justify-content: center;
        width: 44px;
    }
}

.steps .step:last-child .step__counter::after {
    content: none;
}   
